<div class="flex-center-container mt-5">
  <div class="mega-draw-container">
      <div class="row">
          <div class="col-12">
              <div class="image-container">
                  <img src="assets/MEGADRAW.svg" alt="MEGADRAW">
              </div>
          </div>
          
          <div class="col-9">
              <div class="text-container">
                  <p>Leave Hey it all to chance and let fate reveal your winning combination!</p>
              </div>
              
              <ng-container *ngIf="(selectedItems$ | async) as items; else loadingTemplate">
                <div class="digit-containers-mega-draw">
                    <div *ngFor="let number of items" class="number">
                        <p>{{ number }}</p>
                    </div>
                </div>
              </ng-container>

              <div class="row mega-row-container">
                  <div class="col-6">
                      <p class="text-color-inside-card">count</p>
                  </div>
                  <div class="col-6">
                      <p class="text-color-inside-card add-margin-left">drawdate</p>
                  </div>
              </div>
          </div>
  
          <div class="col-3 right-line">
              <div class="right-container">
                  <div class="line-up"></div>
  
                  <div class="mega-draw-number-container">
                      <p>uniqueNo</p>
                  </div>
              </div>
          </div>
          <div class="col-3"></div>
      </div>
  </div>
</div>

<div class="container-parent-mega-draw">
  <div class="lottery-body-selected-parent">
    <ng-template #loadingTemplate>
      <li>Loading....</li>
    </ng-template>
  </div>

  <ul class="lottery-body">
    <li class="lottery-item" *ngFor="let item of drawNumbers$ | async"
        [class.selected]="(selectedItems$ | async)?.includes(item)"
        (click)="selectDrawNumber(item)">
      {{ item }}
    </li>
  </ul>

  <div class="btn-container" *ngIf="(selectedItems$ | async) as selectedItems">
    <button class="btn btn-primary" (click)="addToCart()" [disabled]="selectedItems.length < 6">Add to cart</button>
  </div>

  <div class="btn-container">
    <button class="btn btn-primary" (click)="getRandomDraw()">Get Random Draw</button>
  </div>
</div>
