<div class="container mt-5 flex-container-setup">
  <h1>MEGA Draw</h1>
  <h3>Next Draw in: {{ remainingTime }}</h3>
</div>

<div class="flex-center-container mt-5">
  <ng-container *ngIf="(megaDrawInfo$ | async) as data">
    <div class="mega-draw-container">
        <div class="row">
            <div class="col-12">
                <div class="image-container">
                    <img src="assets/MEGADRAW.svg" alt="MEGADRAW">
                </div>
            </div>
            
            <div class="col-9">
                <div class="text-container">
                    <p>Leave Hey it all to chance and let fate reveal your winning combination!</p>
                </div>
                
                <ng-container *ngIf="(selectedItems$ | async) as items; else loadingTemplate">
                  <ng-container *ngIf="items.length > 0; else noItemsTemplate">
                    <div class="digit-containers-mega-draw">
                        <div *ngFor="let number of items" class="number">
                          <p>{{ number | number: '2.0-0' }}</p>
                        </div>
                    </div>
                  </ng-container>
                </ng-container>
  
                <div class="row mega-row-container">
                    <div class="col-4">
                        <p class="text-color-inside-card">Draw No: {{ data.drawCount }}</p>
                    </div>
                    <div class="col-8">
                        <p class="text-color-inside-card add-margin-left">Draws on: {{ data.raffleDate | timezoneConverter: getUserTimeZone() }}</p>
                    </div>
                </div>
            </div>
    
            <div class="col-3 right-line">
                <div class="right-container">
                    <div class="line-up"></div>
    
                    <div class="mega-draw-number-container">
                        <p>{{ data.uniqueRaffleId }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
  </ng-container>
</div>

<div class="container-parent-mega-draw">
  <div class="lottery-body-selected-parent">
    <ng-template #loadingTemplate>
      <li>Loading....</li>
    </ng-template>

    <ng-template #noItemsTemplate>
      <div class="digit-containers-mega-draw">
        <div class="number">
          <p></p>
        </div>
        <div class="number">
          <p></p>
        </div>
        <div class="number">
          <p></p>
        </div>
        <div class="number">
          <p></p>
        </div>
        <div class="number">
          <p></p>
        </div>
        <div class="number">
          <p></p>
        </div>
    </div>
    </ng-template>
  </div>

<ul class="lottery-body">
    <li class="lottery-item" *ngFor="let item of drawNumbers$ | async"
        [class.selected]="(selectedItems$ | async)?.includes(item)"
        [class.disabled]="(selectedItems$ | async)?.includes(item)"
        (click)="selectDrawNumber(item)">
      {{ item < 10 ? '0' + item : item }}
    </li>
</ul>

<div class="lottery-btn-container row" *ngIf="(megaDrawInfo$ | async) as data">
  <div class="btn-container col-12 col-md-4">
    <button class="btn btn-shuffle" (click)="getRandomDraw()"><i class="fa fa-random" aria-hidden="true"></i> AUTO SELECT</button>
  </div>

  <div class="btn-container col-12 col-md-4" *ngIf="(selectedItems$ | async) as selectedItems">
    <button class="btn btn-buynow" (click)="buyMegaDraw()" [disabled]="selectedItems.length < 6"><i class="fas fa-money-bill"></i> Buy  {{ data.rafflePrice| currency: "₹" }}</button>
  </div>
  
    <div class="btn-container col-12 col-md-4 mb-5 mb-sm-0">
      <button class="btn btn-trash" (click)="clearAll()"><i class="fa fa-trash-o" aria-hidden="true"></i> CLEAR SELECTION</button>
    </div>
  </div>
</div>


<div class="container">
  <h3>Bought Lotteries.</h3>

  <ng-container *ngIf="megaDrawHistory$ | async as data; else loadingTemplate">
    <ng-container *ngIf="data.length > 0; else noDrawHistoryTemplate">
      <ul>
        <li class="d-flex gap-2" *ngFor="let item of data">
          <p class="text-white">{{ item.raffleName }}</p>
          <p class="text-white">{{ item.ticketNo }}</p>
          <p class="text-white">{{ item.username }}</p>
          <p class="text-white">Bought on: {{ item.addOn | date: 'medium' }}</p>
        </li>
      </ul>
    </ng-container>
    <ng-template #noDrawHistoryTemplate>
      <h5>No Bought Lotteries for the past 1 day</h5>
    </ng-template>
  </ng-container>

  <ng-template #loadingTemplate>
    <h4>Loading...</h4>
  </ng-template>
</div>