.lottery-body {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin-top: 20px;
}

.flex-container-setup {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;

  h1 {
    // font-size: 20px;
  }
}

@media screen and (max-width: 768px)  {
 .flex-container-setup {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;

    h1 {
      font-size: 20px;
    }
  } 
}

.lottery-body li {
  list-style-type: none;
}

.blac-color-add {
  color: black;
}

.lottery-item {
  width: 50px;
  height: 50px;
  margin: 10px;
  background: darkorange;
  border-radius: 40px;
  display: flex;
  font-weight: bolder;
  justify-content: center;
  color: white;
  align-items: center;
}

.lottery-item:hover {
  cursor: pointer;
  color: white;
  background: #f56565;
  border: 1px solid green;
}

.select-lottery {
  color: white;
  font-size: 25px;
}

.lottery-body-selected-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.lottery-body-selected-list li {
  list-style-type: none;
}

.circle,
.empty-circle {
  width: 30px;
  height: 30px;
  border: 1px solid green;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.empty-circle {
  margin-right: 5px;
}

.container-parent-mega-draw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selected {
  color: white;
  background: #f56565;
  border: 1px solid green;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}


$main-card-font: 'Avenir LT Pro', sans-serif;
$mega-draw-digit-color: #FFA400;
$east-draw-color: #CC49D3;

.flex-center-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.mega-draw-container {
  width: 520px;
  height: 312px;
  background: linear-gradient(90deg, #FFA400, #CE3B3B 100%);
}

.image-container {
  padding-left: 70px;
  padding-right: 20px;
  padding-top: 40px;
}

.text-container {
  padding-top: 30px;
  padding-left: 25px;
  text-align: center;
  font-family: $main-card-font;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  p {
    color: #FFF;
  }
}

.digit-containers-mega-draw {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 40px;
  width: 90%;
  margin-top: 50px;
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 10px;

  .number {
      width: 40px;
      height: 40px;
      border-radius: 30px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
          color: $mega-draw-digit-color;
          margin-top: 13px;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          font-family: $main-card-font;
      }
  }
}

.mega-row-container {
  margin-top: 30px;
  
  .text-color-inside-card {
      color: #FFF;
      text-align: center;
      font-family: $main-card-font;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
  }

  .add-margin-left {
      margin-left: 70px;
  }
}

.right-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .line-up {
      width: 10px;
      height: 190px;
      border-left: 3px dotted white;
      margin-top: 15px;
      padding-left: 70px;;
  }
}

.mega-draw-number-container {
  transform: rotate(90deg);
  background: white;
  border-radius: 15px;
  position: absolute;
  top: 100px;
  font-family: $main-card-font;
  height: 25px;
  flex-shrink: 0;
  text-align: center;
  width: 120px;

  p {
      margin-top: 2px;
      transform: rotate(-180deg);
      font-weight: bolder;
      letter-spacing: 3px;
      color: $mega-draw-digit-color;
      font-family: $main-card-font;
  }
}

.lottery-btn-container {
  margin-bottom: 30px;
}

.btn-shuffle {
  width: 200px;
  height: 40px;
  background-color: #1DCF00;
  color: white;
  font-size: 15px;
}

.btn-trash {
  width: 200px;
  height: 40px;
  background-color: #F00;
  color: white;
  font-size: 15px;
}

.btn-buynow {
  width: 200px;
  height: 40px;
  background-color: #257CFF;
  color: white;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .lottery-btn-container {
    padding: 10px;
    gap: 10px;
  }
  
  .btn-shuffle {
    width: 200px;
    font-size: 14px;
  }
  
  .btn-trash {
    width: 200px;
    font-size: 14px;
  }
  
  .btn-buynow {
    width: 200px;
    font-size: 14px;
  }

  .digit-containers-mega-draw {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;

    .number {
        width: 30px;
        height: 30px;

        p {
            color: $mega-draw-digit-color;
            margin-top: 13px;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-family: $main-card-font;
        }
    }
  }

  .mega-draw-container {
    width: 340px;
    height: 220px;
    background: linear-gradient(90deg, #FFA400, #CE3B3B 100%);
  }

  .image-container {
    padding-left: 30px;
    padding-top: 20px;
  }

  .text-container {
    padding-top: 10px;

    p {
      font-size: 12px;
    }
  }

  .mega-row-container {
    margin-top: 20px;
    display: flex;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    
    .text-color-inside-card {
        font-size: 10px;
    }
  }

  .right-container {

    .line-up {
        height: 130px;
    }
  }

  .mega-draw-number-container {
    top: 70px;

    p {
        margin-top: 2px;
        transform: rotate(-180deg);
        font-weight: bolder;
        letter-spacing: 3px;
        color: $mega-draw-digit-color;
        font-family: $main-card-font;
    }
  }

  .lottery-body {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
  }
}

.digit-containers-carousel {
    display: flex;
    justify-content: space-evenly;
    // flex-direction: column;
    align-items: center;
    margin-left: 40px;
    width: 90%;
    margin-top: 10px;
    flex-shrink: 0;
    text-align: center;
    color: black;

    .number {
        width: 30px;
        height: 30px;
        margin-top: 20px;
        border-radius: 30px;
        margin-right: 30px;
        background: $east-draw-color;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: white;
            margin-top: 13px;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-family: $main-card-font;
        }
    }
}

.digit-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
    flex-shrink: 0;
    text-align: center;

    .number {
        width: 45px;
        height: 45px;
        border-radius: 30px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: #CC49D3;
            margin-top: 13px;
            text-align: center;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-family: $main-card-font;
        }
    }
    
}

.digit-containers-carousel-megadraw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
    flex-shrink: 0;
    text-align: center;

    .number {
        width: 30px;
        margin-right: 24px;
        height: 30px;
        border-radius: 30px;
        background: #CC49D3;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: white;
            margin-top: 13px;
            text-align: center;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-family: $main-card-font;
        }
    }
    
}

.row-container {
    margin-top: 12px;
    
    .text-color-inside-card {
        color: #FFF;
        text-align: center;
        font-family: $main-card-font;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .add-margin-left {
        margin-left: 70px;
    }
}

.lottery-item.selected {
  background-color: white;
  color: black;
  font-weight: bolder;
}

// past winner
.past-winner-container {
    margin-top: 40px;
}

.carousel-container {
    width: 348px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 5px;
    // background: #FFF;
    // border: 1px solid black;
    box-shadow: 4px 5px 7px 5px rgba(0, 0, 0, 0.50);
}

.container-carousels {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-footer-container {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
}

.search-container {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

* { box-sizing: border-box; }
$duration: 80s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  50% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-80%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: rgba(#000, 0.9); 
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 2rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;
      padding: 0 2rem;
      font-size: 1rem;
      color: white;   

    }

  }

}