.card-title {
  font-size: 16px;
  font-weight: bolder;
}

.pricing-section {
  background: rgb(93,35,35);
  background: linear-gradient(59deg, rgba(93,35,35,1) 3%, rgba(48,44,130,1) 64%);
}

.add-header-padding {
  padding-top: 30px;
}