.navbar {
    padding: 10px 4px !important;
}

.navbar>.container-fluid {
    justify-content: space-evenly !important;
}

@mixin styleStepLine($index) {
    .mat-horizontal-stepper-header {
        &+.mat-stepper-horizontal-line:nth-child(#{$index}) {
            height: 2px;
            background-image: linear-gradient(to right, #08FF03, #08FF03);
        }
    }
}
//
@mixin styleEditedStepIcon($index) {
    .mat-horizontal-stepper-header:nth-child(#{$index}) {
        .mat-step-icon:not(.mat-step-icon-selected) {
            background-color: red;
        }
    }
}
//
@mixin styleUnEditedStepIcon($index) {
    .mat-horizontal-stepper-header:nth-child(#{$index}) {
        .mat-step-icon:not(.mat-step-icon-selected) {
            background-color: green;
        }
    }
}

.last-edited-step-1 {
    @include styleStepLine(2);
}

.last-edited-step-2 {
    @include styleStepLine(2);
    @include styleStepLine(4);
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {width: 0!important;}


.mat-step-header .mat-step-header-ripple {display: none;}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
    background-color: #fff;
}

.mdc-tab__content .mdc-tab__text-label {
    color: white;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: white;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding: 8px 0 8px 0 !important;
    width: auto !important;
}
.mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  top: 20px !important;
}

.mat-step-header .mat-step-icon-selected {
    border: 1px solid green;
    background: white;
    color: green;
    font-weight: bolder;
}

.mat-step-header .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background: white;
    border: 1px solid green;
}

.mat-mdc-tab-header-pagination-chevron {
    border-color: white;
}