.modal-title {
    color: black;
    font-weight: bolder;
}

.input-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-label {
    font-weight: bold;
    color: black;
}

.buttoncontainerwithdraw {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .buttoncontainerwithdraw {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}