.modal-title {
    color: black;
}

.modal-body {
    h3 {
        color: black;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}