<div class="flex-center-container">
    <div class="box-container">
        <div class="row">
            <div class="col-12">
                <div class="image-container">
                    <img src="assets/EASYDRAW.svg" alt="">
                </div>
            </div>
            
            <div class="col-9">
                <div class="text-container">
                    <p> Leave it all to chance and let fate reveal your winning combination!</p>
                </div>
    
                <div class="digit-containers">
                    <div class="number">
                        <p>12</p>
                    </div>
    
                    <div class="number">
                        <p>23</p>
                    </div>
    
                    <div class="number">
                        <p>34</p>
                    </div>
    
                    <div class="number">
                        <p>45</p>
                    </div>
                </div>

                <div class="row row-container">
                    <div class="col-6">
                        <p class="text-color-inside-card">1234</p>
                    </div>
                    <div class="col-6">
                        <p class="text-color-inside-card add-margin-left">{{ currentDate | date: 'shortDate' }}</p>
                    </div>
                </div>
            </div>
    
            <div class="col-3 right-line">
                <div class="right-container">
                    <div class="line-up"></div>
    
                    <div class="number-container">
                        <p>123456</p>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>