<div class="container">
    <button class="btn btn-primary" routerLink="/dashboard/history/user-history">View user history</button> 
</div>

<div class="flex-center-container">
    <div class="easy-draw-container" style="background: url(assets/TicketEasyDrawBg.svg);" routerLink="/dashboard/easy-draw">
        <div class="row">
            <div class="col-12">
                <div class="image-container">
                    <img src="assets/EASYDRAW.svg" alt="EASYDRAW">
                </div>
            </div>
            
            <div class="col-9">
                <div class="text-container">
                    <p> Leave it all to chance and let fate reveal your winning combination!</p>
                </div>
    
                <div class="digit-containers">
                    <div *ngFor="let number of drawNo$ | async" class="number">
                        <p>{{ number }}</p>
                    </div>
                </div>

                <div class="row row-container">
                    <div class="col-6">
                        <p class="text-color-inside-card">{{ drawCount$ | async }}</p>
                    </div>
                    <div class="col-6">
                        <p class="text-color-inside-card add-margin-left">{{ drawDate$ | async | date: 'shortDate' }}</p>
                    </div>
                </div>
            </div>
    
            <div class="col-3 right-line">
                <div class="right-container">
                    <div class="line-up"></div>
    
                    <div class="number-container">
                        <p>{{ easyDrawuniqueNo$ | async | uppercase }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="mega-draw-container" style="background: url(assets/TicketMegaDrawBg.svg);" routerLink="/dashboard/mega-draw">
        <div class="row">
            <div class="col-12">
                <div class="image-container">
                    <img src="assets/MEGADRAW.svg" alt="MEGADRAW">
                </div>
            </div>
            
            <div class="col-9">
                <div class="text-container">
                    <p>Leave Hey it all to chance and let fate reveal your winning combination!</p>
                </div>
    
                <div class="digit-containers-mega-draw">
                    <div *ngFor="let number of megaDrawNo$ | async" class="number">
                        <p>{{ number }}</p>
                    </div>
                </div>

                <div class="row mega-row-container">
                    <div class="col-6">
                        <p class="text-color-inside-card">{{ megaDrawCount$ | async }}</p>
                    </div>
                    <div class="col-6">
                        <p class="text-color-inside-card add-margin-left">{{ megaDrawDate$ | async | date: 'shortDate' }}</p>
                    </div>
                </div>
            </div>
    
            <div class="col-3 right-line">
                <div class="right-container">
                    <div class="line-up"></div>
    
                    <div class="mega-draw-number-container">
                        <p>{{ megaDrawuniqueNo$ | async | uppercase }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>

<div class="past-winner-container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="fw-bolder text-decoration-underline">PAST WINNERS</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 container-carousels">
            <div class="carousel-container">
                <carousel [isAnimated]="true" [interval]="interval" *ngIf="(easyDrawHistory$ | async) as draws">
                    <slide class="carousel-container" *ngFor="let item of draws">
                      <div class="text-center py-5 bg-white text-white slider-background">
                        <div class="image-container">
                            <img src="assets/EASYDRAWCAROUSEL.svg" alt="">
                        </div>
                        <div class="digit-containers-carousel">
                            <div class="number" *ngFor="let item of splitValuesAndreturnArray(item.sequence)">
                                <p>{{ item }}</p>
                            </div>
                        </div>

                        <div class="carousel-footer-container">
                            <div class="container-right"> {{ item.sequence }} </div>
                            <div class="container-center">No of Winners: {{ item.winnerCount }}</div>
                            <div class="container-left">{{ item.drawDate | date:"shortDate" }}</div>
                        </div>
                      </div>
                    </slide>
                  </carousel>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 container-carousels mt-5 mt-sm-5 mt-md-0">
            <div class="carousel-container">
                <carousel [isAnimated]="true" [interval]="interval" *ngIf="(megaDrawHistory$ | async) as draws">
                    <slide *ngFor="let item of draws" class="carousel-container">
                        <div class="text-center py-5 bg-white text-white slider-background">
                            <div class="image-container">
                                <img src="assets/MEGADRAWCAROUSEL.svg" alt="">
                            </div>
                            
                            <div class="digit-containers-carousel-megadraw">
                                <div class="number" *ngFor="let item of splitValuesAndreturnArray(item.sequence)">
                                    <p>{{ item }}</p>
                                </div>
                            </div>

                            <div class="carousel-footer-container">
                                <div class="container-right"> {{ item.sequence }} </div>
                                <div class="container-center">No of Winners: {{ item.winnerCount }}</div>
                                <div class="container-left">{{ item.drawDate | date:"shortDate" }}</div>
                            </div>
                        </div>
                      </slide>
                  </carousel>
            </div>
        </div>
    </div>
</div>