<div class="rules">
    <ul>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h2>General GuideLines</h2>
            <p class="custom-size-for-sm">
                <b>When participating in this lottery, it's important to adhere to the following guidelines!<br></b>
                <br>

                <b>participants must be above 18+ to play this game<br></b>
                <br>

                <b>Do not share any personally identifiable information, such as names, addresses, emails, or phone
                    numbers, without
                    obtaining prior consent<br></b>
                <br>

                <b>Avoid attempting to gain unfair advantages, such as through likes or boosting your posts <br></b>
                <br>

                <b>Avoid exploiting any technical glitches or loopholes in the system
                    <br></b>
                <br>
            </p>
        </li>

        <li>
            <input type="checkbox" checked>
            <i></i>
            <h2>Mega Draw GuideLines</h2>
            <p class="custom-size-for-sm">
                <b>How to play!<br></b>
                <br>

                <b>Navigate into maga draw and make sure to press on the button auto select or manually select 6
                    numbers<br></b>
                <br>

                <b>Make sure to buy a lottery buy pressing buy button<br></b>
                <br>

                <b>If you want to clear your existing lottery numbers make sure to click on the clear selection or
                    manually click on <br></b>
                <br>

                <b>This draw will happen every 1 Hour UTC time
                    <br></b>
                <br>
            </p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h2>Easy Draw GuideLines</h2>
            <p class="custom-size-for-sm">
                <b>How to play!<br></b>
                <br>

                <b>Navigate into easy draw and make sure to press on the button reshuffle to get your numbers<br></b>
                <br>

                <b>Make sure to buy a lottery buy pressing buy button<br></b>
                <br>

                <b>If you want another number make sure to click on reshuffle and then get another number
                    <br></b>
                <br>

                <b>This draw will happen every 30 minutes UTC time
                    <br></b>
                <br>
            </p>
        </li>

        <li>
            <input type="checkbox" checked>
            <i></i>
            <h2>Lotto GuideLines</h2>
            <p class="custom-size-for-sm">
                <b>How to play!<br></b>
                <br>

                <b>Click on the a number an make sure to click on buy and that number be reserved to you<br></b>
                <br>

                <b>Make sure to buy a lotto buy pressing buy button<br></b>
                <br>

                <b>This draw will happen every 15 minutes UTC time<br></b>
                <br>
            </p>
        </li>
    </ul>
</div>