<app-navbar></app-navbar>
<div class="">
  <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">{{ (routerState$ | async)?.state.url }}</a></li>
    </ol>
  </nav> -->

   <ng-container *ngIf="loading">
     <app-spash-screen [loading]="loadingValue"></app-spash-screen>
   </ng-container>

   <div class="container" *ngIf="(routerState$ | async)?.state.url !== '/dashboard/checkout' && (routerState$ | async)?.state.url !== '/dashboard/cart' && (routerState$ | async)?.state.url !== '/dashboard/easy-draw' && (routerState$ | async)?.state.url !== '/dashboard/mega-draw' && (routerState$ | async)?.state.url !== '/dashboard/user-home'" >
      <div class="search-container form-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Enter a unique raffle Id...">
        <button class="btn btn-primary" [routerLink]="['/dashboard/search-history/' + searchTerm]">Search</button>
      </div>
    </div>

   <ng-container *ngIf="!loading">
     <router-outlet></router-outlet>
   </ng-container>
</div>

<app-footer></app-footer>
