<div class="tunament padding-top padding-bottom add-padding">
    <div class="container">
        <div class="section-wrapper">
            <div class="achievement-area">
                <ul class="nav nav-tabs align-items-center" id="myTab" role="tablist">
                    <!-- <li class="nav-item" role="presentation" title="Blackjack">
                        <button class="nav-link" id="tabOne-tab" data-bs-toggle="tab" data-bs-target="#tabOne" type="button" role="tab" aria-controls="tabOne" aria-selected="false">Blackjack</button>
                    </li>
                    <li class="nav-item" role="presentation" title="Slots">
                        <button class="nav-link" id="tabTwo-tab" data-bs-toggle="tab" data-bs-target="#tabTwo" type="button" role="tab" aria-controls="tabTwo" aria-selected="false">Slots</button>
                    </li>
                    <li class="nav-item" role="presentation" title="Texas hold'em">
                        <button class="nav-link" id="tabThree-tab" data-bs-toggle="tab" data-bs-target="#tabThree" type="button" role="tab" aria-controls="tabThree" aria-selected="false">Texas hold'em</button>
                    </li> -->
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabAll" role="tabpanel" aria-labelledby="tabAll-tab">
                        <table class="table text-white">
                            <thead>
                                <tr>
                                    <th class="text-decoration-underline">Tournaments</th>
                                </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngIf="(tournamentDraws$ | async) as data">
                                <tr *ngFor="let item of data">
                                    <td>{{ item.raffleName }}</td>
                                    <td>{{ item.raffleDate | timezoneConverter: getUserTimeZone() }}</td>
                                    <td>{{ item.endOn | timezoneConverter: getUserTimeZone() }}</td>
                                    <td>{{ item.winAmount }} </td>
                                    <td>{{ item.rafflePrice }}</td>
                                    <td>{{ item.drawCount }}</td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
