// buttons
$reshuffle-btn-background: #F60000;
$reshuffle-btn-color: white;

$buyNow-btn-background: #257CFF;
$buyNow-btn-color: white;

.blac-color-add {
  color: black;
}

.button-container-flex {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}

.reshuffle-btn {
  background: $reshuffle-btn-background;
  color: $reshuffle-btn-color;
  font-family: Oswald;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}

.tickerContainer{
   overflow-x: hidden;
   overflow-y: scroll;
   white-space: nowrap;
}
#ghost{
    display: inline-block;
    height: 0;
    position: absolute;
}

.buynow-btn {
  background: $buyNow-btn-background;
  color: $buyNow-btn-color;
  font-family: Oswald;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}

.number-container {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  .number-surrounding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    flex-wrap: wrap;
  }
}

.number {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: 25px;
  color: black;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #FD0;
  cursor: pointer;
  margin: 5px;

  &_add_dropshadown {
    filter: drop-shadow(1px 2px 4px #FD0);
  }

  &_add_dropshadown_green {
    filter: drop-shadow(1px 2px 4px #05FF00);
  }

  &_add_dropshadown_red {
    filter: drop-shadow(1px 2px 4px red);
  }
}

.selected {
  background-color: white;
  color: black;
  font-weight: bolder;
}

.lotto-value {
  display: flex;
}

.lotto-value-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  .lotto-value {
    color: white;
    font-size: 30px;
    width: 250px;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 16px;
    height: 140px;
    background: #F22;
  }

  .lotto-value-number {
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    font-family: Oswald;
  }
}

.btnmain {
  width: 200px;
  height: 50px;
  background-color:  #257CFF;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .btnmain {
    width: 200px;
    height: 40px;
    background-color:  #257CFF;
    color: white;
    font-size: 15px;
  }
}

.flex-container-setup {
  display: flex;
  justify-content: space-between;
}

.add-color-red {
  color: white;
  background-color: red;
  border: none;
  font-size: 35px;
}

.add-color-green {
  color: white;
  background-color: #05FF00;
  font-size: 40px;
  border: none;
}

* { box-sizing: border-box; }
$duration: 80s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  50% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: rgba(#000, 0.9); 
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 2rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;
      padding: 0 2rem;
      font-size: 1rem;
      color: white;   

    }

  }

}