// buttons
$reshuffle-btn-background: #F60000;
$reshuffle-btn-color: white;

$buyNow-btn-background: #257CFF;
$buyNow-btn-color: white;


// wheel numbers
$wheel-numbers-color: #F60000;


.row.justify-content-center.align-items-center.g-2.lottery-wheel {
  background: url(../../../../../assets/wheel.svg);
  height: 390px;
  background-size: 390px;
  background-position: center;
  background-repeat: no-repeat;
}

.col.wheel-numbers {
  color: $wheel-numbers-color;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
  position: relative;
}

.wheel-index-0 {
  transform: translateX(295px);
  top: 5px;
}

.wheel-index-1 {
  transform: translateX(90px);
  top: 7px;
}

.wheel-index-2 {
  transform: translateX(-115px);
  top: 7px;
}

.wheel-index-3 {
  transform: translateX(-320px);
  top: 7px;
}

.flipX {
  animation: 1s anim-flipX ease-in-out;
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(5def);
  }
  50% {
    opacity: 1;
    transform: rotateX(10def);
  }
  100% {
    opacity: 1;
    transform: rotateX(20def);
  }
}

.button-container-flex {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}

.reshuffle-btn {
  background: $reshuffle-btn-background;
  color: $reshuffle-btn-color;
  font-family: Oswald;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}

.buynow-btn {
  background: $buyNow-btn-background;
  color: $buyNow-btn-color;
  font-family: Oswald;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.number {
  width: 50px;
  height: 50px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 5px;
}

.selected {
  background-color: white;
  color: black;
  font-weight: bolder;
}

.lotto-value {
  display: flex;
}

.lotto-value-container {
  margin-top: 50px;

  .lotto-value {
    color: white;
    font-size: 30px;
  }
}

.btnmain {
  width: 200px;
  height: 50px;
  background-color:  #257CFF;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .btnmain {
    width: 200px;
    height: 40px;
    background-color:  #257CFF;
    color: white;
    font-size: 15px;
}
}