.game__content {

  h4 {
    a {
      color: white;
    }
  }

  p {
    color: white;
  }
}

.jaqport__gamelist {

  .jaqport__gamelist-left {
    p {
      color: white;
    }
  }
}

.game__item {
  .game__inner {
    .game__overlay {
      h4 {
        color: white;
      }

      p {
        color: white;
      }
    }
  }
}

.banner__content {
  p {
    color: white;
  }
}

.fm-item-content {
  p {
    color: white;
  }
}

.change-sidesize {
  width: 200px;
  height: 20%;
}

.carousel-item img {
  width: 100%;
  height: 450px;
}

.couter-header {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .carousel-item img {
    width: 100%;
    height: 250px;
  }

  .couter-header {
    margin-top: 100px;
  }

  .container-fluid {
    margin-top: 50px;
  }
}

.jaqport__gamelist-right {

  h6 {
    font-size: 13px;
  }
}