.game__content {

  h4 {
    a {
      color: white;
    }
  }

  p {
    color: white;
  }
}

.jaqport__gamelist {

  .jaqport__gamelist-left {
    p {
      color: white;
    }
  }
}

.game__item {
  .game__inner {
    .game__overlay {
      h4 {
        color: white;
      }

      p {
        color: white;
      }
    }
  }
}

.banner__content {
  p {
    color: white;
  }
}

.fm-item-content {
  p {
    color: white;
  }
}
