.item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  li {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }
}

.item-list-container {
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 0;
  width: 300px;
  background: #a6afde;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #000000;
  font-weight: 500;
}

$main-card-font: 'Avenir LT Pro', sans-serif;
$mega-draw-digit-color: #FFA400;
$east-draw-color: #CC49D3;


// easy draw
.easy-draw-container {
    width: 540px;
    height: 320px;
    background: linear-gradient(90deg, #A447E2 0%, #CE48D2 100%);
}

.image-container {
    padding-left: 90px;
    padding-right: 20px;
    padding-top: 40px;
}

.text-container {
    padding-top: 20px;
    padding-left: 45px;
    text-align: center;
    font-family: $main-card-font;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    p {
      color: white;
    }
}

.digit-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-top: 50px;
    flex-shrink: 0;
    text-align: center;

    .number {
        width: 45px;
        height: 45px;
        border-radius: 30px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: #CC49D3;
            margin-top: 13px;
            text-align: center;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-family: $main-card-font;
        }
    }
    
}

.right-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .line-up {
        width: 10px;
        height: 220px;
        border-left: 3px dotted white;
        margin-top: 15px;
        padding-left: 70px;;
    }
}

.number-container {
    transform: rotate(90deg);
    background: white;
    border-radius: 15px;
    position: absolute;
    top: 102px;
    font-family: $main-card-font;
    height: 25px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;

    p {
        margin-top: 10px;
        transform: rotate(-180deg);
        font-weight: bolder;
        letter-spacing: 3px;
        color: #CC49D3;
        font-family: $main-card-font;
    }
}

.row-container {
    margin-top: 50px;
    
    .text-color-inside-card {
        color: #FFF;
        text-align: center;
        font-family: $main-card-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .add-margin-left {
        margin-left: 70px;
    }
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  
    .btn {
      width: 200px;
      height: 50px;
      background-color:  #F60000;
      color: white;
      font-size: 20px;
    }
  
    .btnmain {
      width: 200px;
      height: 50px;
      background-color:  #257CFF;
      color: white;
      font-size: 20px;
    }
  }

@media screen and (max-width: 768px) {
    .button-container {

        .btn {
            width: 200px;
            height: 40px;
            background-color:  #F60000;
            color: white;
            font-size: 15px;
        }

        .btnmain {
            width: 200px;
            height: 40px;
            background-color:  #257CFF;
            color: white;
            font-size: 15px;
        }
    }

    .row-container {
        margin-top: 15px;
        margin-left: 10px;
        display: flex;
        align-items: center;

        .text-color-inside-card {
            font-size: 9px;
        }
    }

    .easy-draw-container {
        width: 340px;
        height: 220px;
        background: linear-gradient(90deg, #A447E2 0%, #CE48D2 100%);
    }

    .image-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
    }

    .text-container {
        
        p {
            font-size: 12px;
        }
    }

    .digit-containers {
        margin-top: 10px;

        .number {
            width: 30px;
            height: 30px;
    
            p {
                color: #CC49D3;
                margin-top: 13px;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-family: $main-card-font;
            }
        }
    }

    .right-container {
        .line-up {
            height: 120px;
        }
    }

    .number-container {
        top: 65px;
        height: 25px;
        width: 120px;
    
        p {
            margin-top: 10px;
            transform: rotate(-180deg);
            font-weight: bolder;
            letter-spacing: 3px;
            color: #CC49D3;
            font-family: $main-card-font;
        }
    }
}

.container-easy-draw {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-header-container {
  margin-top: 40px;
  width: 100%;
  text-align: center;

  img {
    width: 400px;
  }
}

.text-header-bottom-container {
  margin-top: 40px;
  width: 100%;
  text-align: center;

  p {
    color: white;
    font-size: 20px;
  }
}

.flex-center-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.mega-row-container {
    margin-top: 10px;
    
    .text-color-inside-card {
        color: #FFF;
        text-align: center;
        font-family: $main-card-font;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .add-margin-left {
        margin-left: 70px;
    }
}

// past winner
.past-winner-container {
    margin-top: 40px;
}

.carousel-container {
    width: 348px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 5px;
    // background: #FFF;
    // border: 1px solid black;
    box-shadow: 4px 5px 7px 5px rgba(0, 0, 0, 0.50);
}

.container-carousels {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-footer-container {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
}

.search-container {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}