<!-- <div class="row mt-5">
  <div class="col-12">
  </div>

  <div class="col-12">
    <ul class="item-container">
      <li class="item-list-container" *ngFor="let item of latestNumbers">
        {{ item }}
      </li>
    </ul>
  </div>
</div>

<div class="col-6">
  <button class="btn btn-primary" type="button" (click)="buyEasyDraw()" *ngIf="drawExecuted">Buy Now!</button>
</div> -->

<div class="container mt-5">
  <h1>Easy Draw</h1>
</div>

<!-- <div class="container container-easy-draw">
  <div class="easy-draw-container">
    <div class="text-header-container">
      <img src="assets/EASYDRAW.svg" alt="EASYDRAW">
    </div>
    <div class="text-header-bottom-container">
      <p>Leave it all for the chance and let fate reveal your winning combination!</p>
    </div>

    <div class="number-container mt-5">
      <div class="number-item-container" *ngFor="let item of latestNumbers">
        <div class="circle">{{ item }}</div>
      </div>
    </div>
    

  </div>
  <div class="col-6">
    <button (click)="drawRandomNumber()" type="button" class="btn btn-primary">Draw</button>
  </div>
</div> -->

<div class="flex-center-container mt-5">
  <div class="easy-draw-container">
    <ng-container *ngIf="(easyDraw$ | async) as drawData">
      <div class="row">
        <div class="col-12">
            <div class="image-container">
                <img src="assets/EASYDRAW.svg" alt="EASYDRAW">
            </div>
        </div>
        
        <div class="col-9">
            <div class="text-container">
                <p> Leave it all to chance and let fate reveal your winning combination!</p>
            </div>

            <div class="digit-containers">
                <div class="number" *ngFor="let item of latestNumbers">
                    <p>{{ item }}</p>
                </div>
            </div>

            <div class="row row-container">
                <div class="col-4">
                    <p class="text-color-inside-card">Draw No: {{ drawData.drawCount }}</p>
                </div>
                <div class="col-8">
                    <p class="text-color-inside-card add-margin-left">Draws on: {{ drawData.raffleDate | timezoneConverter: getUserTimeZone() }}</p>
                </div>
            </div>
        </div>

        <div class="col-3 right-line">
            <div class="right-container">
                <div class="line-up"></div>

                <div class="number-container">
                    <p>{{ drawData.uniqueRaffleId }}</p>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    </ng-container>
  </div>

</div>

<div class="container">
  <div class="button-container" *ngIf="(easyDraw$ | async) as drawData">
    <button (click)="drawRandomNumber()" type="button" class="btn"><i class="fa fa-random" aria-hidden="true"></i> RESHUFFLE</button>
    <button (click)="buyEasyDraw()" type="button" class="btnmain"><i class="fas fa-money-bill"></i> Buy {{ drawData.rafflePrice| currency: "₹" }}</button>
  </div>
</div>