<h2>Cart Items:</h2>
<ul>
  <ng-container *ngIf="(cartItems | async) as items">
    <li *ngFor="let item of items">
      <div class="Items">
        {{item.name}} - {{item.price | currency:'USD'}} - {{ item.numbers }}
        <button class="btn btn-danger" (click)="removeCartItem(item)">Remove from cart</button>
      </div>
    </li>

    <div>Total : {{ getTotal() | async }}</div>
  </ng-container>

  <button class="btn btn-primary">
    <a routerLink="/dashboard/checkout" class="text-light text-decoration-none">
      Checkout
    </a>
  </button>
</ul>
