.empty-cart {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Maison Neue';
    font-weight: 300;
  
    svg {
      max-width: 60%;
      padding: 5rem 3rem;
  
      #oval, #plus, #diamond, #bubble-rounded {
        animation: plopp 4s ease-out infinite;
  
        @for $i from 1 through 16 {
          &:nth-child(#{$i}) {
            animation-delay: -240ms * $i;
          }
        }
      }
  
      #bg-line {
        &:nth-child(2) {
          fill-opacity: 0.3;
        }
        &:nth-child(3) {
          fill-opacity: 0.4;
        }
      }
    }
  }
  
  @keyframes plopp {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(0, -10px);
      opacity: 0;
    }
  }

.cart-empty {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
}