
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"
></script>

<nav class="navbar navbar-expand-sm mb-5">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/dashboard/home">
      <img src="assets/LogoMain.png" alt="">
    </a>

    <div class="show-cart-in-sm">
      <div class="btn-container">
        <button class="cart-btn-custom">
          Buy Now
        </button>
      </div>

      <div class="cart-btn" routerLink="/dashboard/cart">
        <span class="cart-badge">
          <h3>{{ (cartItems$ | async)?.length }}</h3>
        </span>
        <button class="btn btn-default">
          <i class="fa fa-cart-shopping" aria-hidden="true"></i>
        </button>
      </div>

      <button
      (click)="toggleNavbarCollapsing()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"aria-expanded="false"aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div [class.collapse]="navbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item show-cart-in-sm-btn">
          <a class="nav-link logout-btn" aria-current="page" routerLinkActive="active" (click)="logOut()">Logout</a>
        </li>
      </ul>

      <div class="show-cart-in-md">
        <button class="cart-btn-custom">
          Buy Now
        </button>

        <div class="cart-btn" routerLink="/dashboard/cart">
          <span class="cart-badge">
            <h3>{{ (cartItems$ | async)?.length }}</h3>
          </span>
          <button class="btn btn-default">
            <i class="fa fa-cart-shopping" aria-hidden="true"></i>
          </button>
        </div>

        <button class="logout-btn" (click)="logOut()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
  
