<ng-container *ngIf="(singleUserInfo$ | async) as userInfo">
    <div class="add-margin-to-header">
        <div class="row gutters">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                                </div>
                                <h5 class="user-name">{{ userInfo.custName | titlecase }}</h5>
                                <h6 class="user-email">{{ userInfo.email }}</h6>
                                <h6 class="user-email mt-1">Joined On: <b>{{ userInfo.addOn  | timezoneConverter: getUserTimeZone() }}</b></h6>
                                <h6 class="user-balance mt-2">Account Balance: <b class="text-decoration-underline">{{ userInfo.accountBalance }}</b></h6>
                                
                                <div class="user-won-lost-container">
                                    <ng-container *ngIf="userWonAmount$ | async as data; else loadingTemplate">
                                        <div class="user-won">Won Amount: <b class="text-decoration-underline">{{ data.result }}</b></div>
                                    </ng-container>
                                    <ng-container *ngIf="userLostAmount$ | async as data; else loadingTemplate">
                                        <div class="user-lost">Lost Amount: <b class="text-decoration-underline">{{ data.result }}</b></div>
                                    </ng-container>
                                    <ng-template #loadingTemplate>
                                        <h6 class="user-balance mt-2">Loading....</h6>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-body-user">
                        <form [formGroup]="form" class="bottom-body-card" (ngSubmit)="updateUserInfo()">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h1 class="mb-2">Personal Details</h1>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="fullName">Full Name</label>
                                        <input type="text" formControlName="custName" class="form-control" id="fullName" [placeholder]="userInfo.custName | titlecase">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="eMail">Email</label>
                                        <input type="email" [readOnly]="true" formControlName="email" class="form-control" id="eMail" >
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
                                    <div class="form-group">
                                        <label for="nic">NIC</label>
                                        <input type="text" formControlName="nic" class="form-control" id="nic" [placeholder]="userInfo.nic">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" formControlName="contactNo" [placeholder]="userInfo.contactNo">
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
                                    <div class="form-group">
                                        <label>Alternate Phone</label>
                                        <input type="text" class="form-control" formControlName="alternatePhone" [placeholder]="userInfo.alternatePhone">
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" id="address" formControlName="custAddress" [placeholder]="userInfo.custAddress">
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters mt-3">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right d-flex align-items-center gap-3">
                                        <button type="button" name="submit" routerLink="/dashboard/user-home" class="btn btn-secondary">Cancel</button>
            <!--                            <button type="submit" [disabled]="!form.dirty" name="submit" class="btn btn-primary">Update</button>-->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
