
<ngx-spinner [fullScreen]="true" [bdColor]="'#95E5FF'" [disableAnimation]="true">
  <div class="image-container">
    <div class="main-image">
      <img class="money4-custom-class" src="assets/Money4.svg" alt="LoadingMoney4">
      <img class="money5-custom-class" src="assets/Money5.svg" alt="LoadingMoney5">
      <img class="money6-custom-class" src="assets/Money6.svg" alt="LoadingMoney6">
      <img class="custom-logo-main" src="assets/LogoMain.png" alt="plash screen logo">
      <img class="money1-custom-class" src="assets/Money1.svg" alt="LoadingMoney1">
      <img class="money2-custom-class" src="assets/Money2.svg" alt="LoadingMoney2">
      <img class="money3-custom-class" src="assets/Money3.svg" alt="LoadingMoney3">
    </div>

    <div class="loading-container">
      <img src="assets/LoadingScreenGold.svg"  alt="loadingSvgGold">
      <progressbar [animate]="true" [striped]="false" [value]="loading" type="warning"></progressbar>
    </div>
  </div>
</ngx-spinner>

  